<a href="https://colab.research.google.com/github/Dhirajkumar908/Python-Programs/blob/master/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print('hi ')
print(' This is Dhiraj from chhapra bihar')
print ('i am student of B.tech 3rd year computer science branch')
print ('i love to be a software engineer ')

In [0]:

a= int(input('Enter the number'))
if a>2:
  print('a>2')
else:
  print('a<2')

In [0]:
a=int(input('enter a num'))
b=str(input('Enter you name'))
c=str(input('enter your friend name'))
d=int(input('enter second num'))

e="ramulal"
f=666


print(a+d)
print(str(a)+b)
print(c+e)
print(d+f)
print((e)+str(e))
print(str(c)+ str(f))

In [0]:
Age=4
AGE=5
age=60
name="Jay "
print(Age)
print(AGE)
print(age)
print(str(name+" Your age is  :"+str(age)+"year"))

In [0]:
a=(3,4,2,4,5,3,2,3,4,55,)
print(a)
b=["dhiraj","Jay","rahul"]
print(b)
c={4:"dhiraj ",7:"Jay",8:"sohail"}
print(c[8])

In [0]:
a=" Hi sir how r u"
print(a)
b=20
print(b)
c=20.5
print(c)

d=1j
print(d)
ab=["apple","banana","cherry"]
print(ab)
ac=("apple","banana","cherry")
print(ac)

In [0]:
a=range(10)
print(a)
print(type(a))
b={"name":"john","age":36}
print(b)
print(type(b))

c={"apple ","banana","cherry"}
print(c)
print(type(c))

d=frozenset({"apple ","banana","cherry"})
print(d)
print(type(d))

In [0]:
a=True
print(type(a))
ac=b"hello"
print(ac)
print(type(ac))

In [0]:
ad=bytearray(5)
print(ad)
print(type(ad))

In [0]:
at=memoryview(bytes(5))
print(at)
print(type(at))