In [1]:
num=[1,4,2,5,6,3,6,8]

even=[]

for i in num:
    if i%2==0:
        even.append(i)
even

[4, 2, 6, 6, 8]

In [2]:
even=[i for i in num if i%2==0]

In [3]:
even

[4, 2, 6, 6, 8]

In [4]:
sqrnum=[i*i for i in num]
sqrnum

[1, 16, 4, 25, 36, 9, 36, 64]

In [5]:
s=set([1,2,3,4,5,1,2,3])
s

{1, 2, 3, 4, 5}

In [6]:
even={i for i in num if i%2==0}
even

{2, 4, 6, 8}

In [9]:
odd={i for i in num if i%2==1}
odd

{1, 3, 5}

In [11]:
cities=["bihar","patana","chhapra","sivan"]
name =["raj","ram","ramu","ajay","hema"]
z=zip(cities,name)
z
for a in z:
    print(a)

('bihar', 'raj')
('patana', 'ram')
('chhapra', 'ramu')
('sivan', 'ajay')

In [12]:
d={city:name for city, name in zip (cities ,name)}
d

{'bihar': 'raj', 'patana': 'ram', 'chhapra': 'ramu', 'sivan': 'ajay'}